@import '../../../../styles/colors';

.product {
  position: relative;
  padding: 4px;
  display: flex;
  flex-direction: column;
  background: $light-color;
  border-radius: 12px;
  min-height: 243px;
}

.product__image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.product__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 4px;
}

.ptoduct__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  flex-grow: 1;
  margin-bottom: 4px;
}

.product__detail {
  outline: none;
  transition: color 0.3s ease-in-out;
}

.product__detail:focus-visible,
.product__detail:hover {
  color: $hover-color;
}

.product__detail:after {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  outline: 1px solid transparent;
  border-radius: 8px;
}

.product__detail:focus-visible:after {
  outline-color: $hover-color;
}

.product__weight {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: $light-text;
  margin-bottom: 7px;
}

.product__add {
  background: $light-background;
  border-radius: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  padding: 9px;
  transition: transform 0.2s ease, background-color 0.3s ease-in-out;

  &:hover {
    background-color: $contrast-background;
  }
  
  &:focus-visible {
    background-color: $hover-color;
  }
  
  &:active {
    transform: translate(1px, 1px);
  }
  
  &:disabled {
    background-color: $background-color;
    color: $disabled-color;
  }
  
  @supports not selector(:focus-visible) {
    &:focus {
      background-color: $hover-color;
    }
  }
}


@media (min-width: 1024px) {
  .product {
    padding: 12px;
    border-radius: 18px;
    min-height: 411px;
  }
  
  .product__image {
    height: 220px;
    border-radius: 12px;
    margin-bottom: 16px;
  }
  
  .product__price {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .ptoduct__title {
    font-size: 16px;
  }
  
  .product__weight {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .product__add {
    border-radius: 12px;
    font-size: 16px;
    padding: 12px;
  }
}
