@import '../../styles/breakpoints';
@import '../../styles/colors';

.navigation {
  margin-bottom: 30px;
}

.navigation__container {
  padding: 0;
  min-width: 100vw;
}

.navigation__list {
  display: flex;
  column-gap: 8px; 
  padding: 0 calc((100vw / 2) - ($container / 2));
  overflow-x: auto;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .navigation__list {
    column-gap: 12px;
  }
}

@media (min-width: 1024px) {
  .navigation__list {
    column-gap: 24px;
  }
  .navigation {
    margin-bottom: 50px;
  }
}


