
$background-color: #f9f9f9;
$text-color: #000;
$light-color: #fff;
$contrast-color: #ff5c00;
$contrast-background: #ffab08;
$hover-color: #f86310;
$light-background: #f2f2f3;
$button-color: #ff7020;
$light-text: #b1b1b1;
$overflow-background: #000000cc;