@import './var';

html {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Nunito, sans-serif;
}

.container {
  max-width: calc($container + $padding-container * 2);
  padding: 0 $padding-container;
  margin: 0 auto;
}