.modal {
  position: fixed;
  inset: 0;
  background-color: $overflow-background;
  cursor: pointer;
  overflow-y: auto;
  display: none;
}

.modal_open {
  display: flex;
}

.modal__main {
  position: relative;
  cursor: default;
  margin: auto;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  color: $light-text;
}

.modal__close:focus-visible {
  outline-color: $button-color;
  color: $button-color;
  border-radius: 3px;
}

.modal__close-icon {
  width: 24px;
}

@media (min-width: 480px) {
  .modal {
    padding: 10px;
  }
}

