$gap: 8px;

.modal-delivery {
  background-color: $light-color;
  width: 100%;
  min-height: 100%;
  padding: 32px 10px;
  display: flex;
}

.modal-delivery__container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.modal-delivery__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 18px;
}

.modal-delivery__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  margin-bottom: 18px;
}

.modal-delivery__fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}

.modal-delivery__fieldset_hide {
  visibility: hidden;
}

.modal-delivery__fieldset_radio {
  flex-direction: column;
  align-items:flex-start;
}

.modal-delivery__input {
  position: relative;
  width: 100%;
  height: 30px;
  border: 1px solid $light-background;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: $text-color;
}

.modal_delivery__input_half {
  flex-basis: calc((100% -   $gap) / 2);
}

.modal-delivery__input::placeholder {
  color: $light-text;
}

.modal-delivery__label {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.modal-delivery__radio {
  position: relative;
  width: 12px;
  appearance: none;
}

.modal-delivery__radio:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid $light-background;
}

.modal-delivery__radio:after {
  content: "";
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $text-color;
  opacity: 0;
}

.modal-delivery__radio:checked:after {
  opacity: 1;
}

.modal-delivery__submit {
  padding: 9px;
  background-color: $button-color;
  color: $light-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.3s ease-in-out;
}

.modal-delivery__submit:hover {
  background-color: $contrast-background;
}

.modal-delivery__submit:focus-visible {
  background-color: $hover-color;
}

.modal-delivery__submit:active {
  transform: translate(1px, 1px);
}

.modal-delivery__submit:disabled {
  background-color: $background-color;
  color: $disabled-color;
}

@supports not selector(:focus-visible) {
  .modal-delivery__submit:focus {
    background-color: $hover-color;
  }
}

@media (min-width: 480px) {
  .modal-delivery {
    max-width: 524px;
    min-height: auto;
    padding: 20px 16px 29px;
    border-radius: 24px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  .modal-delivery__container {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  $gap: 12px;

  .modal-delivery {
    max-width: 684px;
    padding: 44px 24px 24px 366px;
    background: url("./img/donats.svg") 19px center, linear-gradient(to right, $contrast-background 50%, $light-color 50%);
    background-size: 302px, auto;
    background-repeat: no-repeat;
  }

  .modal-delivery__title {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 16px;
  }
  
  .modal-delivery__form {
    gap: 16px;
    margin-bottom: 32px;
  }
  
  .modal-delivery__fieldset_radio {
    gap: $gap;
  }

  .modal-delivery__input {
    font-size: 12px;
    padding: 10px 12px;
    height: 40px;
  }
  
  .modal-delivery__label {
    font-size: 12px;
    line-height: 14px;
  }
  
  
  .modal-delivery__submit {
    font-size: 16px;
  }
}